# Unreal Engine Git Ignore


# Visual Studio
.vs/
.idea/
.vscode/


# OS junk
.DS_Store
Thumbs.db


# Logs & temp files
*.log
*.tmp


# Compiled binaries
Binaries/
Plugins/**/Binaries/


# Intermediate build files
Intermediate/
Plugins/**/Intermediate/


# Editor cache
DerivedDataCache/


# Saved editor data (autosaves, logs, backups)
Saved/


# Build output
Build/


# VISUAL STUDIO
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.xcodeproj
*.xcworkspace


# Executables & compiled files
*.exe
*.dll
*.so
*.dylib
*.app
*.out
*.ipa
*.o
*.obj
*.pch
*.lib
*.a


# Unreal map build data
*_BuiltData.uasset